In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import pprint

### Etapa 1: Operaciones columnares

In [2]:
path = '../data/sample_media_spend.csv'
df = pd.read_csv(filepath_or_buffer=path, sep= ',', header=0)
print(df.shape)
df.head(2)

(3051, 10)

,Division,Calendar_Week,Paid_Views,Organic_Views,Google_Impressions,Email_Impressions,Facebook_Impressions,Affiliate_Impressions,Overall_Views,Sales
0,A,1/6/2018,392,422,408,349895.0107,73580,12072,682,59417
1,A,1/13/2018,787,904,110,506270.2176,11804,9499,853,56806

In [5]:
start_time = time.time()
summary = df.describe()
execution_time = time.time() - start_time
print(execution_time)
summary

0.009654045104980469

,Paid_Views,Organic_Views,Google_Impressions,Email_Impressions,Facebook_Impressions,Affiliate_Impressions,Overall_Views,Sales
count,3051.000000,3051.000000,3.051000e+03,3.051000e+03,3.051000e+03,3051.000000,3051.000000,3.051000e+03
mean,15093.941658,13355.673222,8.861738e+05,7.605094e+05,2.691269e+05,22910.902655,27980.914127,1.859014e+05
std,30785.884979,24079.399689,1.355076e+06,6.260141e+05,4.665117e+05,21617.637497,52054.976687,2.322079e+05
min,1.000000,1.000000,7.000000e+00,4.089445e+04,2.900000e+01,910.000000,2.000000,1.543600e+04
25%,537.000000,712.500000,1.698280e+05,3.784969e+05,5.707350e+04,9127.000000,747.000000,7.339350e+04
50%,2699.000000,4110.000000,4.905310e+05,5.909708e+05,1.275230e+05,16658.000000,7879.000000,1.135730e+05
75%,17358.000000,16230.500000,1.022622e+06,9.622466e+05,2.835050e+05,27486.500000,34111.500000,2.029755e+05
max,518190.000000,270453.000000,1.715044e+07,7.317730e+06,7.558435e+06,175791.000000,635057.000000,3.575430e+06

In [8]:
df.dtypes

Division                  object
Calendar_Week             object
Paid_Views                 int64
Organic_Views              int64
Google_Impressions         int64
Email_Impressions        float64
Facebook_Impressions       int64
Affiliate_Impressions      int64
Overall_Views              int64
Sales                      int64
dtype: object

In [10]:
col_num = ['Paid_Views', 'Organic_Views','Google_Impressions', 'Email_Impressions', 'Facebook_Impressions',
           'Affiliate_Impressions', 'Overall_Views', 'Sales']
np.mean(df[col_num], axis=0)

Paid_Views                15093.941658
Organic_Views             13355.673222
Google_Impressions       886173.830875
Email_Impressions        760509.377761
Facebook_Impressions     269126.887906
Affiliate_Impressions     22910.902655
Overall_Views             27980.914127
Sales                    185901.396591
dtype: float64

In [27]:
start_time = time.time()
col_num = ['Paid_Views', 'Organic_Views','Google_Impressions', 'Email_Impressions', 'Facebook_Impressions',
           'Affiliate_Impressions', 'Overall_Views', 'Sales']
np_summary = {
    'mean': np.mean(df[col_num], axis=0),
    'std': np.std(df[col_num], axis=0),
    'min': np.min(df[col_num], axis=0),
    '25%': np.percentile(df[col_num], 25, axis=0),
    '50%': np.percentile(df[col_num], 50, axis=0),
    '75%': np.percentile(df[col_num], 75, axis=0),
    'max': np.max(df[col_num], axis=0)
}
execution_time = time.time() - start_time
print(execution_time)

0.007187843322753906

In [37]:
0.009654045104980469/0.007187843322753906

1.3431073371367919

In [31]:
np_summary

{'mean': Paid_Views                15093.941658
 Organic_Views             13355.673222
 Google_Impressions       886173.830875
 Email_Impressions        760509.377761
 Facebook_Impressions     269126.887906
 Affiliate_Impressions     22910.902655
 Overall_Views             27980.914127
 Sales                    185901.396591
 dtype: float64,
 'std': Paid_Views               3.078084e+04
 Organic_Views            2.407545e+04
 Google_Impressions       1.354854e+06
 Email_Impressions        6.259115e+05
 Facebook_Impressions     4.664352e+05
 Affiliate_Impressions    2.161409e+04
 Overall_Views            5.204645e+04
 Sales                    2.321698e+05
 dtype: float64,
 'min': Paid_Views                   1.00000
 Organic_Views                1.00000
 Google_Impressions           7.00000
 Email_Impressions        40894.44732
 Facebook_Impressions        29.00000
 Affiliate_Impressions      910.00000
 Overall_Views                2.00000
 Sales                    15436.00000
 dtype: float64,
 '25%': array([   537.    ,    712.5   , 169828.    , 378496.9247,  57073.5   ,
          9127.    ,    747.    ,  73393.5   ]),
 '50%': array([  2699.   ,   4110.   , 490531.   , 590970.802, 127523.   ,
         16658.   ,   7879.   , 113573.   ]),
 '75%': array([  17358.    ,   16230.5   , 1022621.5   ,  962246.6105,
         283505.    ,   27486.5   ,   34111.5   ,  202975.5   ]),
 'max': Paid_Views               5.181900e+05
 Organic_Views            2.704530e+05
 Google_Impressions       1.715044e+07
 Email_Impressions        7.317730e+06
 Facebook_Impressions     7.558435e+06
 Affiliate_Impressions    1.757910e+05
 Overall_Views            6.350570e+05
 Sales                    3.575430e+06
 dtype: float64}

In [26]:
np_summary.get('mean')

Paid_Views                15093.941658
Organic_Views             13355.673222
Google_Impressions       886173.830875
Email_Impressions        760509.377761
Facebook_Impressions     269126.887906
Affiliate_Impressions     22910.902655
Overall_Views             27980.914127
Sales                    185901.396591
dtype: float64

In [34]:
start_time = time.time()
df['Paid_Views'].mean()
execution_time = time.time() - start_time
print(execution_time*1000)

0.2841949462890625

In [35]:
start_time = time.time()
np.mean(df['Paid_Views'], axis=0)
execution_time = time.time() - start_time
print(execution_time*1000)

0.19097328186035156

In [36]:
0.2841949462890625/0.19097328186035156

1.488139825218477

### Etapa 2: Operaciones con agrupaciones

In [44]:
start_time = time.time()
pandas_groupby = df.groupby('Division').agg({
    'Paid_Views': 'mean',
    'Organic_Views': 'mean',
    'Google_Impressions': 'mean',
    'Sales': 'mean'
})
pandas_groupby_time = time.time() - start_time
print(pandas_groupby_time*1000)
pandas_groupby.head()

4.470109939575195

            Paid_Views  Organic_Views  Google_Impressions          Sales
Division
A          9396.309735    8051.884956        4.902766e+05  103391.238938
B         66616.884956   57691.955752        4.058473e+06  876130.584071
C           959.530973    1202.610619        4.487434e+02   81640.008850
D         19809.823009   17954.194690        9.699456e+05  201645.442478
E         30452.601770   26485.849558        2.134733e+06  457977.734513

In [48]:
# Fixing the column indexing issue by correctly identifying indices for numeric columns
numeric_data = df.select_dtypes(include=[np.number]).values
numeric_cols = df.select_dtypes(include=[np.number]).columns
numeric_col_indices = {col: idx for idx, col in enumerate(numeric_cols)}

# Group by Division using NumPy (correcting the column indices)
start_time = time.time()

divisions = df['Division'].unique()
numpy_groupby_fixed = {}
for division in divisions:
    division_mask = df['Division'] == division
    division_data = numeric_data[division_mask]

    numpy_groupby_fixed[division] = {
        'Paid_Views': np.mean(division_data[:, numeric_col_indices['Paid_Views']]),
        'Organic_Views': np.mean(division_data[:, numeric_col_indices['Organic_Views']]),
        'Google_Impressions': np.mean(division_data[:, numeric_col_indices['Google_Impressions']]),
        'Sales': np.mean(division_data[:, numeric_col_indices['Sales']])
    }

numpy_groupby_fixed_time = time.time() - start_time
print(numpy_groupby_fixed_time*1000)
numpy_groupby_fixed.get('A')

7.6122283935546875

{'Paid_Views': 9396.309734513274,
 'Organic_Views': 8051.884955752213,
 'Google_Impressions': 490276.62831858406,
 'Sales': 103391.2389380531}

In [52]:
1000*(4.470109939575195-7.6122283935546)/7.6122283935546

-412.77248809821424

### Etapa 3: Matriz de correlaciones

In [58]:
start_time = time.time()
pandas_corr = df[col_num].corr()
pandas_corr_time = time.time() - start_time
print(pandas_corr_time*1000)


start_time = time.time()
numpy_corr = np.corrcoef(numeric_data.T)
numpy_corr_time = time.time() - start_time
print(numpy_corr_time*1000)

1.9159317016601562
0.7190704345703125

In [56]:
pandas_corr

,Paid_Views,Organic_Views,Google_Impressions,Email_Impressions,Facebook_Impressions,Affiliate_Impressions,Overall_Views,Sales
Paid_Views,1.000000,0.798104,0.305230,0.290203,0.318325,0.215768,0.960312,0.289688
Organic_Views,0.798104,1.000000,0.429167,0.342697,0.410265,0.231719,0.934390,0.390960
Google_Impressions,0.305230,0.429167,1.000000,0.636719,0.728787,0.353054,0.379076,0.783338
Email_Impressions,0.290203,0.342697,0.636719,1.000000,0.515894,0.697002,0.330243,0.746729
Facebook_Impressions,0.318325,0.410265,0.728787,0.515894,1.000000,0.290033,0.378120,0.749133
Affiliate_Impressions,0.215768,0.231719,0.353054,0.697002,0.290033,1.000000,0.234696,0.440282
Overall_Views,0.960312,0.934390,0.379076,0.330243,0.378120,0.234696,1.000000,0.352200
Sales,0.289688,0.390960,0.783338,0.746729,0.749133,0.440282,0.352200,1.000000

In [57]:
numpy_corr

array([[1.        , 0.79810393, 0.30523006, 0.29020289, 0.31832511,
        0.21576798, 0.96031194, 0.28968761],
       [0.79810393, 1.        , 0.42916738, 0.34269745, 0.41026507,
        0.23171856, 0.93438991, 0.39095972],
       [0.30523006, 0.42916738, 1.        , 0.63671947, 0.72878706,
        0.35305351, 0.37907575, 0.78333758],
       [0.29020289, 0.34269745, 0.63671947, 1.        , 0.5158936 ,
        0.69700161, 0.33024278, 0.74672924],
       [0.31832511, 0.41026507, 0.72878706, 0.5158936 , 1.        ,
        0.29003283, 0.37811961, 0.74913297],
       [0.21576798, 0.23171856, 0.35305351, 0.69700161, 0.29003283,
        1.        , 0.23469597, 0.44028204],
       [0.96031194, 0.93438991, 0.37907575, 0.33024278, 0.37811961,
        0.23469597, 1.        , 0.35220005],
       [0.28968761, 0.39095972, 0.78333758, 0.74672924, 0.74913297,
        0.44028204, 0.35220005, 1.        ]])

In [59]:
1.9159317016601562/0.7190704345703125

2.6644562334217508

Preguntas a contestar:

    1. ¿Qué es la correlación?
    2. ¿Por qué la correlación es 2.6 veces más lenta de calcular en Pandas que en Numpy?