### Cargamos librerias necesarias

In [1]:
import pandas as pd
import numpy as np
import json

### cargamos el dataset

In [2]:
df = pd.read_csv('../data/ejercicios_integracion/ventas_tienda_simulada.csv')
df.head(10)

        fecha    producto  cantidad  precio_unitario  total
0  2023-01-01  Producto_A       2.0             10.5   21.0
1  2023-01-02  Producto_B       NaN             20.0    NaN
2  2023-01-03  Producto_C       5.0              NaN    NaN
3  2023-01-04  Producto_D       7.0             15.0  105.0
4  2023-01-05  Producto_A       1.0             12.0   12.0
5  2023-01-06  Producto_B       4.0             25.0  100.0
6  2023-01-07  Producto_C       NaN              NaN    NaN
7  2023-01-08  Producto_D       3.0             30.0   90.0
8  2023-01-09  Producto_A       2.0             10.0    NaN
9  2023-01-10  Producto_B       NaN              NaN    NaN

### primeras impresiones

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fecha            20 non-null     object
 1   producto         20 non-null     object
 2   cantidad         16 non-null     float64
 3   precio_unitario  16 non-null     float64
 4   total            12 non-null     float64
dtypes: float64(3), object(2)
memory usage: 932.0+ bytes

In [4]:
df.describe()

        cantidad  precio_unitario       total
count  16.000000        16.000000   12.000000
mean    4.250000        16.656250   67.250000
std     2.175623         6.436145   41.569493
min     1.000000         9.000000   12.000000
25%     2.750000        10.875000   25.500000
50%     4.000000        15.000000   81.000000
75%     6.000000        20.500000  100.000000
max     8.000000        30.000000  132.000000

In [5]:
df.isnull().sum()

fecha              0
producto           0
cantidad           4
precio_unitario    4
total              8
dtype: int64

### Rellenamos datos faltantes

In [6]:
# Rellenar valores nulos en columna cantidad con interpolación porque eso aprendi en clase
df['cantidad'] = df['cantidad'].interpolate()

In [7]:
# rellenamos valores nulos en columna precio_unitario con media
df['precio_unitario'] = df['precio_unitario'].mean()

In [8]:
# Rellenar valores nulos de la columna total con interpolación
df['total'] = df['total'].interpolate()

verificamos que no tenemos datos faltantes

In [9]:
#verifico que no hay valores nulos en las columnas anteriores
df.isnull().sum()

fecha              0
producto           0
cantidad           0
precio_unitario    0
total              0
dtype: int64

### usamos mas estadisticas ahora que no hay nulos

In [10]:
df.describe()

        cantidad  precio_unitario      total
count  20.000000         20.00000   20.00000
mean    4.100000         16.65625   70.47500
std     1.964152          0.00000   36.30118
min     1.000000         16.65625   12.00000
25%     3.000000         16.65625   41.87500
50%     4.000000         16.65625   74.50000
75%     5.250000         16.65625  100.00000
max     8.000000         16.65625  132.00000

In [11]:
df_mean = np.mean(df['total'])
df_std = np.std(df['total'])
df_min = np.min(df['total'])
df_max = np.max(df['total'])

### parece estar todo bien.

In [12]:
df.head(10)

        fecha    producto  cantidad  precio_unitario  total
0  2023-01-01  Producto_A       2.0         16.65625   21.0
1  2023-01-02  Producto_B       3.5         16.65625   49.0
2  2023-01-03  Producto_C       5.0         16.65625   77.0
3  2023-01-04  Producto_D       7.0         16.65625  105.0
4  2023-01-05  Producto_A       1.0         16.65625   12.0
5  2023-01-06  Producto_B       4.0         16.65625  100.0
6  2023-01-07  Producto_C       3.5         16.65625   95.0
7  2023-01-08  Producto_D       3.0         16.65625   90.0
8  2023-01-09  Producto_A       2.0         16.65625  104.0
9  2023-01-10  Producto_B       4.0         16.65625  118.0