In [15]:
import numpy as np
import pandas as pd
import json

In [16]:

# Paso 1: Cargar el dataset
path = '../data/ejercicios_integracion/ventas_tienda_simulada.csv'
df = pd.read_csv(filepath_or_buffer=path, sep= ',', header=0)
print(df.shape)
df.head()

(20, 5)

        fecha    producto  cantidad  precio_unitario  total
0  2023-01-01  Producto_A       2.0             10.5   21.0
1  2023-01-02  Producto_B       NaN             20.0    NaN
2  2023-01-03  Producto_C       5.0              NaN    NaN
3  2023-01-04  Producto_D       7.0             15.0  105.0
4  2023-01-05  Producto_A       1.0             12.0   12.0

In [4]:
qsna=df.shape[0]-df.isnull().sum(axis=0)
qna=df.isnull().sum(axis=0)
ppna=round(100*(df.isnull().sum(axis=0)/df.shape[0]),2)
aux= {'datos sin NAs en q': qsna, 'Na en q': qna ,'Na en %': ppna}
na=pd.DataFrame(data=aux)
na.sort_values(by='Na en %',ascending=False)

                 datos sin NAs en q  Na en q  Na en %
total                            12        8     40.0
cantidad                         16        4     20.0
precio_unitario                  16        4     20.0
fecha                            20        0      0.0
producto                         20        0      0.0

In [9]:
df.loc[df.isnull()['total']]

         fecha    producto  cantidad  precio_unitario  total
1   2023-01-02  Producto_B       NaN             20.0    NaN
2   2023-01-03  Producto_C       5.0              NaN    NaN
6   2023-01-07  Producto_C       NaN              NaN    NaN
8   2023-01-09  Producto_A       2.0             10.0    NaN
9   2023-01-10  Producto_B       NaN              NaN    NaN
13  2023-01-14  Producto_B       NaN             25.0    NaN
16  2023-01-17  Producto_A       8.0             10.0    NaN
18  2023-01-19  Producto_C       7.0              NaN    NaN

In [15]:
df.loc[df.producto=='Producto_A',:]

         fecha    producto  cantidad  precio_unitario  total
0   2023-01-01  Producto_A       2.0             10.5   21.0
4   2023-01-05  Producto_A       1.0             12.0   12.0
8   2023-01-09  Producto_A       2.0             10.0    NaN
12  2023-01-13  Producto_A       5.0             20.0  100.0
16  2023-01-17  Producto_A       8.0             10.0    NaN

In [19]:
df.loc[df.producto=='Producto_A','total'] = df.loc[df.producto=='Producto_A','cantidad'] * df.loc[df.producto=='Producto_A','precio_unitario'] 
df.loc[df.producto=='Producto_A',:]

         fecha    producto  cantidad  precio_unitario  total
0   2023-01-01  Producto_A       2.0             10.5   21.0
4   2023-01-05  Producto_A       1.0             12.0   12.0
8   2023-01-09  Producto_A       2.0             10.0   20.0
12  2023-01-13  Producto_A       5.0             20.0  100.0
16  2023-01-17  Producto_A       8.0             10.0   80.0

In [20]:
df.loc[df.producto=='Producto_B',:]

         fecha    producto  cantidad  precio_unitario  total
1   2023-01-02  Producto_B       NaN             20.0    NaN
5   2023-01-06  Producto_B       4.0             25.0  100.0
9   2023-01-10  Producto_B       NaN              NaN    NaN
13  2023-01-14  Producto_B       NaN             25.0    NaN
17  2023-01-18  Producto_B       4.0             11.0   44.0

In [17]:
df.loc[df.producto=='Producto_B',:].dropna(inplace=True)
df.loc[df.producto=='Producto_B',:]

C:\Users\asosa\AppData\Local\Temp\ipykernel_16032\1627652108.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df.producto=='Producto_B',:].dropna(inplace=True)

         fecha    producto  cantidad  precio_unitario  total
1   2023-01-02  Producto_B       NaN             20.0    NaN
5   2023-01-06  Producto_B       4.0             25.0  100.0
9   2023-01-10  Producto_B       NaN              NaN    NaN
13  2023-01-14  Producto_B       NaN             25.0    NaN
17  2023-01-18  Producto_B       4.0             11.0   44.0

In [19]:
~df.index.isin(df.dropna().index)

array([False,  True,  True, False, False, False,  True, False,  True,
        True, False, False, False,  True, False, False,  True, False,
        True, False])

In [18]:
# los valores que voy a conservar
(df['producto'] == 'Producto_B') & df.index.isin(df.dropna().index)

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17     True
18    False
19    False
Name: producto, dtype: bool

In [21]:
df = df[~((df['producto'] == 'Producto_B') & ~df.index.isin(df.dropna().index))]

In [50]:
qsna=df.shape[0]-df.isnull().sum(axis=0)
qna=df.isnull().sum(axis=0)
ppna=round(100*(df.isnull().sum(axis=0)/df.shape[0]),2)
aux= {'datos sin NAs en q': qsna, 'Na en q': qna ,'Na en %': ppna}
na=pd.DataFrame(data=aux)
na.sort_values(by='Na en %',ascending=False)

                 datos sin NAs en q  Na en q  Na en %
precio_unitario                  14        3    17.65
total                            14        3    17.65
cantidad                         16        1     5.88
fecha                            17        0     0.00
producto                         17        0     0.00

In [27]:
df.loc[df.producto=='Producto_D',:]

df.loc[df.producto=='Producto_D',:].dropna(inplace=True)
df.loc[df.producto=='Producto_D',:]

df = df[~((df['producto'] == 'Producto_D') & ~df.index.isin(df.dropna().index))]
df.loc[df.producto=='Producto_D',:]

C:\Users\asosa\AppData\Local\Temp\ipykernel_16032\825174753.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df.producto=='Producto_D',:].dropna(inplace=True)

         fecha    producto  cantidad  precio_unitario  total
3   2023-01-04  Producto_D       7.0             15.0  105.0
7   2023-01-08  Producto_D       3.0             30.0   90.0
11  2023-01-12  Producto_D       4.0             18.0   72.0
15  2023-01-16  Producto_D       3.0              9.0   27.0
19  2023-01-20  Producto_D       6.0             15.0   90.0

In [28]:
def cantidad(precio, ratio = 1):
    cantidad = 1 + (0.625*(precio-14))
    return cantidad

In [29]:
df.loc[df.producto=='Producto_C',:]

precio = 22
ratio_crecimiento = (22-14)/(6-1)
cantidad(precio)

6.0