Practica -- notas tratar de entender mejor NaN y none tipos de datos de python
Tengo que repasar la clase anterior

In [1]:
import pandas as pd

archivo = '../data/ejercicios_integracion/ventas_tienda_simulada.csv'
ventas_df = pd.read_csv(archivo)

ventas_df.head()

        fecha    producto  cantidad  precio_unitario  total
0  2023-01-01  Producto_A       2.0             10.5   21.0
1  2023-01-02  Producto_B       NaN             20.0    NaN
2  2023-01-03  Producto_C       5.0              NaN    NaN
3  2023-01-04  Producto_D       7.0             15.0  105.0
4  2023-01-05  Producto_A       1.0             12.0   12.0

In [2]:
ventas_nulos = ventas_df.isnull().sum()

ventas_nulos

fecha              0
producto           0
cantidad           4
precio_unitario    4
total              8
dtype: int64

Aqui hubo un warning que no logre comprender entre versiones de pandas

In [9]:
ventas_df['cantidad'] = ventas_df['cantidad'].fillna(ventas_df['cantidad'].median())
ventas_df['precio_unitario'] = ventas_df['precio_unitario'].fillna(ventas_df['precio_unitario'].median())

ventas_df['total'] = ventas_df['cantidad'] * ventas_df['precio_unitario']

ventas_df.isnull().sum()


#Verificar en que consisten los warnings de pandas podria ser un problema entre versiones

fecha              0
producto           0
cantidad           0
precio_unitario    0
total              0
dtype: int64

In [4]:
import numpy as np

media_ventas = ventas_df['total'].mean()
mediana_ventas = ventas_df['total'].median()
suma_total_ventas = ventas_df['total'].sum()

print(f"Media de ventas: {media_ventas}")
print(f"Mediana de ventas: {mediana_ventas}")
print(f"Suma total de ventas: {suma_total_ventas}")

Media de ventas: 69.35
Mediana de ventas: 77.5
Suma total de ventas: 1387.0

In [5]:
ventas_df.to_json('../data/ejercicios_integracion/ventas_limpias.json', orient='records', lines=True)

In [8]:
competencia_data = pd.read_json('../data/ejercicios_integracion/competencia_kaggle.json')

competencia_data.head()
competencia_data['puntuaciones'] = competencia_data['puntuaciones'].apply(lambda x: [np.nan if i is None else i for i in x]) # aca tengo un detalle None y NaN antender para estudiar mas

competencia_data['puntuacion_media'] = competencia_data['puntuaciones'].apply(lambda x: np.nanmean(x)) #manejando NaN

competencia_data[['nombre', 'puntuacion_media']]
#Anotaciones entender mas sobre tipos de datos en python

           nombre  puntuacion_media
0  Participante_A             85.75
1  Participante_B             72.50
2  Participante_C             90.75
3  Participante_D             60.00
4  Participante_E             81.25