### importamos librerias necesarias

In [1]:
import pandas as pd
import numpy as np
import json

### cargo el dataset

In [2]:
data = pd.read_json("../data/ejercicios_integracion/competencia_kaggle.json")
data

,id_participante,nombre,intentos,tiempo_total_horas,puntuaciones
0,1,Participante_A,5,12.0,"[80, 85, 90, 88, None]"
1,2,Participante_B,3,NaN,"[70, 75, None]"
2,3,Participante_C,4,10.0,"[85, 90, 95, 93]"
3,4,Participante_D,2,5.0,"[60, None]"
4,5,Participante_E,6,14.0,"[78, 82, None, None, 80, 85]"

### primeras impresiones

In [3]:
data.head()

,id_participante,nombre,intentos,tiempo_total_horas,puntuaciones
0,1,Participante_A,5,12.0,"[80, 85, 90, 88, None]"
1,2,Participante_B,3,NaN,"[70, 75, None]"
2,3,Participante_C,4,10.0,"[85, 90, 95, 93]"
3,4,Participante_D,2,5.0,"[60, None]"
4,5,Participante_E,6,14.0,"[78, 82, None, None, 80, 85]"

In [4]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_participante     5 non-null      int64
 1   nombre              5 non-null      object
 2   intentos            5 non-null      int64
 3   tiempo_total_horas  4 non-null      float64
 4   puntuaciones        5 non-null      object
dtypes: float64(1), int64(2), object(2)
memory usage: 332.0+ bytes

### verificamos la columna tiempo_total_hora, esta raro

In [5]:
data["tiempo_total_horas"].isnull().sum()

1

usamos media para rellenar datos faltantes

In [6]:
#saco la media para usarlo despues y rellenarlo

media_tiempo_total_horas = data['tiempo_total_horas'].mean()
media_tiempo_total_horas

10.25

uso el dato de la media para ingresarlo en la columna tiempo_total_horas y rellenar valores nulos

In [7]:
data['tiempo_total_horas'].fillna(media_tiempo_total_horas, inplace=True)

C:\Users\guill\AppData\Local\Temp\ipykernel_15420\129464464.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['tiempo_total_horas'].fillna(media_tiempo_total_horas, inplace=True)

### verificamos

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_participante     5 non-null      int64
 1   nombre              5 non-null      object
 2   intentos            5 non-null      int64
 3   tiempo_total_horas  5 non-null      float64
 4   puntuaciones        5 non-null      object
dtypes: float64(1), int64(2), object(2)
memory usage: 332.0+ bytes

In [9]:
data.head()

,id_participante,nombre,intentos,tiempo_total_horas,puntuaciones
0,1,Participante_A,5,12.00,"[80, 85, 90, 88, None]"
1,2,Participante_B,3,10.25,"[70, 75, None]"
2,3,Participante_C,4,10.00,"[85, 90, 95, 93]"
3,4,Participante_D,2,5.00,"[60, None]"
4,5,Participante_E,6,14.00,"[78, 82, None, None, 80, 85]"

### las puntuaciones las convertimos en array para manejarlo mejor

In [10]:
data.puntuaciones

0          [80, 85, 90, 88, None]
1                  [70, 75, None]
2                [85, 90, 95, 93]
3                      [60, None]
4    [78, 82, None, None, 80, 85]
Name: puntuaciones, dtype: object

funcion para convertir en array una columna

In [11]:
def rellenar_con_media(puntuaciones):
    # Convertir los None a NaN
    puntuaciones = np.array([x if x is not None else np.nan for x in puntuaciones])
    
    # Calcular la media ignorando NaN
    media = np.nanmean(puntuaciones)
    
    # Rellenar NaN con la media
    puntuaciones = np.nan_to_num(puntuaciones, nan=media)
    
    return puntuaciones

usamos la media de los datos del array para rellenar todos los falttantes

In [12]:
# Aplicar la función a la columna 'puntuaciones'
data['puntuaciones_array'] = data['puntuaciones'].apply(rellenar_con_media)

# Mostrar el DataFrame con los valores rellenados
print(data)

   id_participante          nombre  intentos  tiempo_total_horas  \
0                1  Participante_A         5               12.00
1                2  Participante_B         3               10.25
2                3  Participante_C         4               10.00
3                4  Participante_D         2                5.00
4                5  Participante_E         6               14.00

                   puntuaciones                      puntuaciones_array
0        [80, 85, 90, 88, None]         [80.0, 85.0, 90.0, 88.0, 85.75]
1                [70, 75, None]                      [70.0, 75.0, 72.5]
2              [85, 90, 95, 93]                        [85, 90, 95, 93]
3                    [60, None]                            [60.0, 60.0]
4  [78, 82, None, None, 80, 85]  [78.0, 82.0, 81.25, 81.25, 80.0, 85.0]

vemos que hay dos columnas, eliminamos la que tiene nulos

In [13]:
data.drop(columns=['puntuaciones'], inplace=True)

# Mostrar el DataFrame después de eliminar la columna
print(data)

   id_participante          nombre  intentos  tiempo_total_horas  \
0                1  Participante_A         5               12.00
1                2  Participante_B         3               10.25
2                3  Participante_C         4               10.00
3                4  Participante_D         2                5.00
4                5  Participante_E         6               14.00

                       puntuaciones_array
0         [80.0, 85.0, 90.0, 88.0, 85.75]
1                      [70.0, 75.0, 72.5]
2                        [85, 90, 95, 93]
3                            [60.0, 60.0]
4  [78.0, 82.0, 81.25, 81.25, 80.0, 85.0]

### verificamos que todo este bien

In [14]:
data.head()

,id_participante,nombre,intentos,tiempo_total_horas,puntuaciones_array
0,1,Participante_A,5,12.00,"[80.0, 85.0, 90.0, 88.0, 85.75]"
1,2,Participante_B,3,10.25,"[70.0, 75.0, 72.5]"
2,3,Participante_C,4,10.00,"[85, 90, 95, 93]"
3,4,Participante_D,2,5.00,"[60.0, 60.0]"
4,5,Participante_E,6,14.00,"[78.0, 82.0, 81.25, 81.25, 80.0, 85.0]"

### sacamos estadisticas basicas

sacamos el promedio

In [15]:
#promedio de intentos, tiempos y puntuaciones
mean_intentos = data["intentos"].mean()
print(mean_intentos)
mean_tiempo = data["tiempo_total_horas"].mean()
print(mean_tiempo)
mean_puntuaciones = data['puntuaciones_array'].apply(np.mean).mean()
print(mean_puntuaciones)

4.0
10.25
78.05

sacamos los minimos

In [16]:
#min de intentos, tiempos y puntuaciones
min_intentos = data["intentos"].min()
print(min_intentos)
min_tiempo = data["tiempo_total_horas"].min()
print(min_tiempo)
min_puntuaciones = data['puntuaciones_array'].apply(np.min).min()
print(min_puntuaciones)

2
5.0
60.0

Sacamos los maximos

In [17]:
#max de intentos, tiempos y puntuaciones
max_intentos = data["intentos"].max()
print(max_intentos)
max_tiempo = data["tiempo_total_horas"].max()
print(max_tiempo)
max_puntuaciones = data['puntuaciones_array'].apply(np.max).max()
print(max_puntuaciones)

6
14.0
95.0

### exportamos el json limpio

In [18]:
# Guardar el DataFrame en un archivo JSON
data.to_json('ejercicio_integracion_2_datos_limpios.json', orient='records', lines=True)

print("El conjunto de datos limpio ha sido guardado en 'datos_limpios.json'.")

El conjunto de datos limpio ha sido guardado en 'datos_limpios.json'.