In [3]:
import pandas as pd
import numpy as np
import json

#Ahora cargamos los datos

In [4]:
path = '../data/ejercicios_integracion/ventas_tienda_simulada.csv'
datos = pd.read_csv(filepath_or_buffer=path, sep= ',', header=0)


print(datos.head())

        fecha    producto  cantidad  precio_unitario  total
0  2023-01-01  Producto_A       2.0             10.5   21.0
1  2023-01-02  Producto_B       NaN             20.0    NaN
2  2023-01-03  Producto_C       5.0              NaN    NaN
3  2023-01-04  Producto_D       7.0             15.0  105.0
4  2023-01-05  Producto_A       1.0             12.0   12.0

# Obtener informaci√≥n sobre las columnas y los tipos de datos

In [5]:
print(datos.info())
print(datos.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fecha            20 non-null     object
 1   producto         20 non-null     object
 2   cantidad         16 non-null     float64
 3   precio_unitario  16 non-null     float64
 4   total            12 non-null     float64
dtypes: float64(3), object(2)
memory usage: 932.0+ bytes
None
        cantidad  precio_unitario       total
count  16.000000        16.000000   12.000000
mean    4.250000        16.656250   67.250000
std     2.175623         6.436145   41.569493
min     1.000000         9.000000   12.000000
25%     2.750000        10.875000   25.500000
50%     4.000000        15.000000   81.000000
75%     6.000000        20.500000  100.000000
max     8.000000        30.000000  132.000000

In [6]:
#nulos?
print(datos.isnull().sum())
#no se vendio, no considero:
datos = datos[datos['cantidad'] != 0]
# Rellenar valores nulos en las columnas 'cantidad' y 'precio_por_unidad' con 0
datos['cantidad'] = datos['cantidad'].fillna(0)
datos['precio_unitario'] = datos['precio_unitario'].fillna(0)

# Calcular la columna total y sobrescribirla
datos['total'] = datos['cantidad'] * datos['precio_unitario']

datos.head(20) #para validar

fecha              0
producto           0
cantidad           4
precio_unitario    4
total              8
dtype: int64

         fecha    producto  cantidad  precio_unitario  total
0   2023-01-01  Producto_A       2.0             10.5   21.0
1   2023-01-02  Producto_B       0.0             20.0    0.0
2   2023-01-03  Producto_C       5.0              0.0    0.0
3   2023-01-04  Producto_D       7.0             15.0  105.0
4   2023-01-05  Producto_A       1.0             12.0   12.0
5   2023-01-06  Producto_B       4.0             25.0  100.0
6   2023-01-07  Producto_C       0.0              0.0    0.0
7   2023-01-08  Producto_D       3.0             30.0   90.0
8   2023-01-09  Producto_A       2.0             10.0   20.0
9   2023-01-10  Producto_B       0.0              0.0    0.0
10  2023-01-11  Producto_C       6.0             22.0  132.0
11  2023-01-12  Producto_D       4.0             18.0   72.0
12  2023-01-13  Producto_A       5.0             20.0  100.0
13  2023-01-14  Producto_B       0.0             25.0    0.0
14  2023-01-15  Producto_C       1.0             14.0   14.0
15  2023-01-16  Producto_D       3.0              9.0   27.0
16  2023-01-17  Producto_A       8.0             10.0   80.0
17  2023-01-18  Producto_B       4.0             11.0   44.0
18  2023-01-19  Producto_C       7.0              0.0    0.0
19  2023-01-20  Producto_D       6.0             15.0   90.0

medidas de Tendencia central

In [7]:
# Calcular la media, mediana y moda de las ventas (cantidad y precio)
media_cantidad = datos['cantidad'].mean()
mediana_cantidad = datos['cantidad'].median()
moda_cantidad = datos['cantidad'].mode()[0]

media_precio = datos['precio_unitario'].mean()
mediana_precio = datos['precio_unitario'].median()
moda_precio = datos['precio_unitario'].mode()[0]

print(f'Media de cantidad: {media_cantidad}, Mediana de cantidad: {mediana_cantidad}, Moda de cantidad: {moda_cantidad}')
print(f'Media de precio: {media_precio}, Mediana de precio: {mediana_precio}, Moda de precio: {moda_precio}')

Media de cantidad: 3.4, Mediana de cantidad: 3.5, Moda de cantidad: 0.0
Media de precio: 13.325, Mediana de precio: 13.0, Moda de precio: 0.0

operaciones matem√°ticas b√°sicas con numpy

In [8]:
cantidad_array = datos['cantidad'].to_numpy()
precio_array = datos['precio_unitario'].to_numpy()

#ventas x d√≠a
total_ventas = np.multiply(cantidad_array, precio_array)
print("Las ventas por d√≠a son de: ", total_ventas)

Las ventas por d√≠a son de:  [ 21.   0.   0. 105.  12. 100.   0.  90.  20.   0. 132.  72. 100.   0.
  14.  27.  80.  44.   0.  90.]

In [9]:
# promedio de ventas por d√≠a
promedio_ventas_por_dia = np.mean(total_ventas)
print("Promedio de ventas por d√≠a: ", promedio_ventas_por_dia)

#promedio del precio unitario
promedio_precio_unitario = np.mean(precio_array)
print("Promedio de precio unitario: ", promedio_precio_unitario)

Promedio de ventas por d√≠a:  45.35
Promedio de precio unitario:  13.325

guardamos tipo json

In [12]:

path2 = '../data/ejercicios_integracion/ventas_limpias.json'

datos.to_json(path2, orient='records', lines=True)

# Leer el archivo JSON l√≠nea por l√≠nea
with open('ventas_limpias.json', 'r') as f:
    datos_json = [json.loads(line) for line in f]

# Mostrar algunos registros
print(datos_json[:5])

[{'fecha': '2023-01-01', 'producto': 'Producto_A', 'cantidad': 2.0, 'precio_unitario': 10.5, 'total': 21.0}, {'fecha': '2023-01-03', 'producto': 'Producto_C', 'cantidad': 5.0, 'precio_unitario': 0.0, 'total': None}, {'fecha': '2023-01-04', 'producto': 'Producto_D', 'cantidad': 7.0, 'precio_unitario': 15.0, 'total': 105.0}, {'fecha': '2023-01-05', 'producto': 'Producto_A', 'cantidad': 1.0, 'precio_unitario': 12.0, 'total': 12.0}, {'fecha': '2023-01-06', 'producto': 'Producto_B', 'cantidad': 4.0, 'precio_unitario': 25.0, 'total': 100.0}]

imprimir