## Ejercicio: Análisis y Limpieza de Datos de 

### Contexto:

Tienes un conjunto de datos que representa las ventas diarias de una tienda en línea. Este conjunto contiene información sobre los productos vendidos, la cantidad, el precio por unidad, y la fecha de venta. Sin embargo, algunos de los datos están incompletos o tienen valores nulos. El objetivo de este ejercicio es limpiar y analizar los datos, y calcular algunas medidas clave para entender mejor las ventas.

### Objetivos:

1.	Manipular arrays con numpy: Para operaciones matemáticas básicas con los datos.
2.	Manejar datos con pandas: Para cargar el dataset, analizar su estructura y calcular medidas de tendencia central.
3.	Trabajar con archivos JSON: Para guardar y leer la información transformada.
4.	Manejar datos nulos: Para identificar y lidiar con valores faltantes.
5.	Aplicar ciclos, condicionales y operadores lógicos/matemáticos: Para realizar cálculos y aplicar reglas de negocio.

In [2]:
# Importar Dependencias y recuperar el Archivo
import numpy as np
import pandas as pd
import json

path = '../data/ejercicios_integracion/ventas_tienda_simulada.csv'
df = pd.read_csv(filepath_or_buffer=path, sep= ',', header=0)
print(df.shape)
df.head(5)

(20, 5)

        fecha    producto  cantidad  precio_unitario  total
0  2023-01-01  Producto_A       2.0             10.5   21.0
1  2023-01-02  Producto_B       NaN             20.0    NaN
2  2023-01-03  Producto_C       5.0              NaN    NaN
3  2023-01-04  Producto_D       7.0             15.0  105.0
4  2023-01-05  Producto_A       1.0             12.0   12.0

In [3]:
# Reemplazar los valores NaN o nullos con 0
df.fillna(0, inplace=True)
df.head(5)

        fecha    producto  cantidad  precio_unitario  total
0  2023-01-01  Producto_A       2.0             10.5   21.0
1  2023-01-02  Producto_B       0.0             20.0    0.0
2  2023-01-03  Producto_C       5.0              0.0    0.0
3  2023-01-04  Producto_D       7.0             15.0  105.0
4  2023-01-05  Producto_A       1.0             12.0   12.0

In [11]:
# Convertir las columnas 'producto', 'cantidad', y 'total' a arrays de numpy
productos = df['producto'].values
cantidades = df['cantidad'].values
totales = df['total'].values

# Obtener los productos únicos
productos_unicos = np.unique(productos)

# Crear un array para almacenar la suma de cantidades y totales
suma_cantidades = np.zeros(len(productos_unicos))
suma_totales = np.zeros(len(productos_unicos))

# Sumar las cantidades y totales por producto
for i, producto in enumerate(productos_unicos):
    suma_cantidades[i] = np.sum(cantidades[productos == producto])
    suma_totales[i] = np.sum(totales[productos == producto])

In [16]:
# Identificar el producto más vendido y con mayor total
indice_mas_vendido = np.argmax(suma_cantidades)
indice_mayor_total = np.argmax(suma_totales)

producto_mas_vendido = productos_unicos[indice_mas_vendido]
cantidad_mas_vendida = suma_cantidades[indice_mas_vendido]

producto_mayor_total = productos_unicos[indice_mayor_total]
total_mayor = suma_totales[indice_mayor_total]

print(f"El producto más vendido es {producto_mas_vendido} con {cantidad_mas_vendida} unidades.")
print(f"El producto con mayor total es {producto_mayor_total} con un total de {total_mayor}.")

resultados = [
    {
        "producto_mas_vendido": producto_mas_vendido,
        "cantidad_unidades": cantidad_mas_vendida
    },
    {
        "producto_mayor_total": producto_mayor_total,
        "cantidad_total": total_mayor
    }
]

print('Resultado en Json:')
print(resultados)

El producto más vendido es Producto_D con 23.0 unidades.
El producto con mayor total es Producto_D con un total de 384.0.
Resultado en Json:
[{'producto_mas_vendido': 'Producto_D', 'cantidad_unidades': 23.0}, {'producto_mayor_total': 'Producto_D', 'cantidad_total': 384.0}]

NameError: name 'json' is not defined