In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
# Paso 1: Cargar el dataset
df = pd.read_csv('../data/ejercicios_integracion/ventas_tienda_simulada.csv')
print(df.shape)
df.head()

(20, 5)

        fecha    producto  cantidad  precio_unitario  total
0  2023-01-01  Producto_A       2.0             10.5   21.0
1  2023-01-02  Producto_B       NaN             20.0    NaN
2  2023-01-03  Producto_C       5.0              NaN    NaN
3  2023-01-04  Producto_D       7.0             15.0  105.0
4  2023-01-05  Producto_A       1.0             12.0   12.0

In [3]:
qsna=df.shape[0]-df.isnull().sum(axis=0)
qna=df.isnull().sum(axis=0)
ppna=round(100*(df.isnull().sum(axis=0)/df.shape[0]),2)
aux= {'datos sin NAs en q': qsna, 'Na en q': qna ,'Na en %': ppna}
na=pd.DataFrame(data=aux)
na.sort_values(by='Na en %',ascending=False)

                 datos sin NAs en q  Na en q  Na en %
total                            12        8     40.0
cantidad                         16        4     20.0
precio_unitario                  16        4     20.0
fecha                            20        0      0.0
producto                         20        0      0.0

In [4]:
df.loc[df.isnull()['total']]

         fecha    producto  cantidad  precio_unitario  total
1   2023-01-02  Producto_B       NaN             20.0    NaN
2   2023-01-03  Producto_C       5.0              NaN    NaN
6   2023-01-07  Producto_C       NaN              NaN    NaN
8   2023-01-09  Producto_A       2.0             10.0    NaN
9   2023-01-10  Producto_B       NaN              NaN    NaN
13  2023-01-14  Producto_B       NaN             25.0    NaN
16  2023-01-17  Producto_A       8.0             10.0    NaN
18  2023-01-19  Producto_C       7.0              NaN    NaN

In [5]:
df.loc[df.producto=='Producto_A',:]

         fecha    producto  cantidad  precio_unitario  total
0   2023-01-01  Producto_A       2.0             10.5   21.0
4   2023-01-05  Producto_A       1.0             12.0   12.0
8   2023-01-09  Producto_A       2.0             10.0    NaN
12  2023-01-13  Producto_A       5.0             20.0  100.0
16  2023-01-17  Producto_A       8.0             10.0    NaN

In [6]:
df.loc[df.producto=='Producto_A','total'] = df.loc[df.producto=='Producto_A','cantidad'] * df.loc[df.producto=='Producto_A','precio_unitario'] 
df.loc[df.producto=='Producto_A',:]

         fecha    producto  cantidad  precio_unitario  total
0   2023-01-01  Producto_A       2.0             10.5   21.0
4   2023-01-05  Producto_A       1.0             12.0   12.0
8   2023-01-09  Producto_A       2.0             10.0   20.0
12  2023-01-13  Producto_A       5.0             20.0  100.0
16  2023-01-17  Producto_A       8.0             10.0   80.0

In [7]:
df.loc[df.producto=='Producto_B',:]

         fecha    producto  cantidad  precio_unitario  total
1   2023-01-02  Producto_B       NaN             20.0    NaN
5   2023-01-06  Producto_B       4.0             25.0  100.0
9   2023-01-10  Producto_B       NaN              NaN    NaN
13  2023-01-14  Producto_B       NaN             25.0    NaN
17  2023-01-18  Producto_B       4.0             11.0   44.0

In [8]:
df.loc[df.producto=='Producto_B',:].dropna(inplace=True)
df.loc[df.producto=='Producto_B',:]

/var/folders/02/wzc8k1dn7bsgd14yfq9md5l40000gn/T/ipykernel_95655/1627652108.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df.producto=='Producto_B',:].dropna(inplace=True)

         fecha    producto  cantidad  precio_unitario  total
1   2023-01-02  Producto_B       NaN             20.0    NaN
5   2023-01-06  Producto_B       4.0             25.0  100.0
9   2023-01-10  Producto_B       NaN              NaN    NaN
13  2023-01-14  Producto_B       NaN             25.0    NaN
17  2023-01-18  Producto_B       4.0             11.0   44.0

In [9]:
~df.index.isin(df.dropna().index)

array([False,  True,  True, False, False, False,  True, False, False,
        True, False, False, False,  True, False, False, False, False,
        True, False])

In [10]:
# los valores que voy a conservar
(df['producto'] == 'Producto_B') & df.index.isin(df.dropna().index)

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17     True
18    False
19    False
Name: producto, dtype: bool

In [11]:
df = df[~((df['producto'] == 'Producto_B') & ~df.index.isin(df.dropna().index))]

In [12]:
qsna=df.shape[0]-df.isnull().sum(axis=0)
qna=df.isnull().sum(axis=0)
ppna=round(100*(df.isnull().sum(axis=0)/df.shape[0]),2)
aux= {'datos sin NAs en q': qsna, 'Na en q': qna ,'Na en %': ppna}
na=pd.DataFrame(data=aux)
na.sort_values(by='Na en %',ascending=False)

                 datos sin NAs en q  Na en q  Na en %
precio_unitario                  14        3    17.65
total                            14        3    17.65
cantidad                         16        1     5.88
fecha                            17        0     0.00
producto                         17        0     0.00

In [13]:
df.loc[df.producto=='Producto_D',:]

         fecha    producto  cantidad  precio_unitario  total
3   2023-01-04  Producto_D       7.0             15.0  105.0
7   2023-01-08  Producto_D       3.0             30.0   90.0
11  2023-01-12  Producto_D       4.0             18.0   72.0
15  2023-01-16  Producto_D       3.0              9.0   27.0
19  2023-01-20  Producto_D       6.0             15.0   90.0

In [14]:
df.loc[df.producto=='Producto_C',:]

         fecha    producto  cantidad  precio_unitario  total
2   2023-01-03  Producto_C       5.0              NaN    NaN
6   2023-01-07  Producto_C       NaN              NaN    NaN
10  2023-01-11  Producto_C       6.0             22.0  132.0
14  2023-01-15  Producto_C       1.0             14.0   14.0
18  2023-01-19  Producto_C       7.0              NaN    NaN

In [15]:
def calcula_precio(cantidad,cantidad_base=1,precio_base=1,ratio_crecimiento=1):
    precio = precio_base + (ratio_crecimiento*(cantidad-cantidad_base))
    return precio

In [16]:
cantidad_base = 1
precio_base = 14
ratio_crecimiento =(22-14)/(6-1)
cantidad = 6
calcula_precio(cantidad,cantidad_base, precio_base,ratio_crecimiento)

22.0

In [17]:
ratio_crecimiento

1.6

In [18]:
(df['producto'] == 'Producto_C')

0     False
2      True
3     False
4     False
5     False
6      True
7     False
8     False
10     True
11    False
12    False
14     True
15    False
16    False
17    False
18     True
19    False
Name: producto, dtype: bool

In [19]:
df['precio_unitario'].isnull()

0     False
2      True
3     False
4     False
5     False
6      True
7     False
8     False
10    False
11    False
12    False
14    False
15    False
16    False
17    False
18     True
19    False
Name: precio_unitario, dtype: bool

In [20]:
~df['cantidad'].isnull()

0      True
2      True
3      True
4      True
5      True
6     False
7      True
8      True
10     True
11     True
12     True
14     True
15     True
16     True
17     True
18     True
19     True
Name: cantidad, dtype: bool

In [21]:
df[(df['producto'] == 'Producto_C') & (df['precio_unitario'].isnull()) & (~df['cantidad'].isnull())]

         fecha    producto  cantidad  precio_unitario  total
2   2023-01-03  Producto_C       5.0              NaN    NaN
18  2023-01-19  Producto_C       7.0              NaN    NaN

In [22]:
condicion = (df['producto'] == 'Producto_C') & (df['precio_unitario'].isnull()) & (~df['cantidad'].isnull())
for cantidad in df.loc[condicion,'cantidad']:
    print("La cantidad es: ", cantidad)

La cantidad es:  5.0
La cantidad es:  7.0

In [23]:
precios = []
cantidad_base = 1
precio_base = 14
ratio_crecimiento =(22-14)/(6-1)
for cantidad in df.loc[condicion,'cantidad']:
    precio = calcula_precio(cantidad, precio_base,ratio_crecimiento)
    precios.append(precio)
precios

[-7.4, -5.4]

In [24]:
df.loc[condicion,'precio_unitario'] = precios
df[(df['producto'] == 'Producto_C')]

         fecha    producto  cantidad  precio_unitario  total
2   2023-01-03  Producto_C       5.0             -7.4    NaN
6   2023-01-07  Producto_C       NaN              NaN    NaN
10  2023-01-11  Producto_C       6.0             22.0  132.0
14  2023-01-15  Producto_C       1.0             14.0   14.0
18  2023-01-19  Producto_C       7.0             -5.4    NaN

In [25]:
df.loc[:,'total'] = df['cantidad']*df['precio_unitario']
df[(df['producto'] == 'Producto_C')]

         fecha    producto  cantidad  precio_unitario  total
2   2023-01-03  Producto_C       5.0             -7.4  -37.0
6   2023-01-07  Producto_C       NaN              NaN    NaN
10  2023-01-11  Producto_C       6.0             22.0  132.0
14  2023-01-15  Producto_C       1.0             14.0   14.0
18  2023-01-19  Producto_C       7.0             -5.4  -37.8

In [26]:
qsna=df.shape[0]-df.isnull().sum(axis=0)
qna=df.isnull().sum(axis=0)
ppna=round(100*(df.isnull().sum(axis=0)/df.shape[0]),2)
aux= {'datos sin NAs en q': qsna, 'Na en q': qna ,'Na en %': ppna}
na=pd.DataFrame(data=aux)
na.sort_values(by='Na en %',ascending=False)

                 datos sin NAs en q  Na en q  Na en %
cantidad                         16        1     5.88
precio_unitario                  16        1     5.88
total                            16        1     5.88
fecha                            17        0     0.00
producto                         17        0     0.00

In [27]:
df.dropna(inplace=True)

In [28]:
qsna=df.shape[0]-df.isnull().sum(axis=0)
qna=df.isnull().sum(axis=0)
ppna=round(100*(df.isnull().sum(axis=0)/df.shape[0]),2)
aux= {'datos sin NAs en q': qsna, 'Na en q': qna ,'Na en %': ppna}
na=pd.DataFrame(data=aux)
na.sort_values(by='Na en %',ascending=False)

                 datos sin NAs en q  Na en q  Na en %
fecha                            16        0      0.0
producto                         16        0      0.0
cantidad                         16        0      0.0
precio_unitario                  16        0      0.0
total                            16        0      0.0

In [29]:
df['cantidad'].describe()

count    16.000000
mean      4.250000
std       2.175623
min       1.000000
25%       2.750000
50%       4.000000
75%       6.000000
max       8.000000
Name: cantidad, dtype: float64

In [30]:
df['total'].describe()

count     16.000000
mean      52.012500
std       51.375764
min      -37.800000
25%       18.500000
50%       58.000000
75%       92.500000
max      132.000000
Name: total, dtype: float64

In [31]:
df['precio_unitario'].describe()

count    16.000000
mean     13.043750
std       9.650352
min      -7.400000
25%      10.000000
50%      13.000000
75%      18.500000
max      30.000000
Name: precio_unitario, dtype: float64