In [21]:
import numpy as np
import pandas as pd

def cargar_datos(ruta_archivo):
    # Carga los datos del archivo CSV utilizando NumPy
    datos = pd.read_csv(ruta_archivo, delimiter=',')

    return datos

if __name__ == "__main__":
    ruta_archivo = '../data/ejercicios_integracion/ventas_tienda_simulada.csv'
    df = cargar_datos(ruta_archivo)  
    
    print(df)

         fecha    producto  cantidad  precio_unitario  total
0   2023-01-01  Producto_A       2.0             10.5   21.0
1   2023-01-02  Producto_B       NaN             20.0    NaN
2   2023-01-03  Producto_C       5.0              NaN    NaN
3   2023-01-04  Producto_D       7.0             15.0  105.0
4   2023-01-05  Producto_A       1.0             12.0   12.0
5   2023-01-06  Producto_B       4.0             25.0  100.0
6   2023-01-07  Producto_C       NaN              NaN    NaN
7   2023-01-08  Producto_D       3.0             30.0   90.0
8   2023-01-09  Producto_A       2.0             10.0    NaN
9   2023-01-10  Producto_B       NaN              NaN    NaN
10  2023-01-11  Producto_C       6.0             22.0  132.0
11  2023-01-12  Producto_D       4.0             18.0   72.0
12  2023-01-13  Producto_A       5.0             20.0  100.0
13  2023-01-14  Producto_B       NaN             25.0    NaN
14  2023-01-15  Producto_C       1.0             14.0   14.0
15  2023-01-16  Producto_D       3.0              9.0   27.0
16  2023-01-17  Producto_A       8.0             10.0    NaN
17  2023-01-18  Producto_B       4.0             11.0   44.0
18  2023-01-19  Producto_C       7.0              NaN    NaN
19  2023-01-20  Producto_D       6.0             15.0   90.0

In [27]:
qsna=df.shape[0]-df.isnull().sum(axis=0)
qna=df.isnull().sum(axis=0)
ppna=round(100*(df.isnull().sum(axis=0)/df.shape[0]),2)
aux= {'datos sin NAs en q': qsna, 'Na en q': qna ,'Na en %': ppna}
na=pd.DataFrame(data=aux)
na.sort_values(by='Na en %',ascending=False)

                 datos sin NAs en q  Na en q  Na en %
total                            12        8     40.0
cantidad                         16        4     20.0
precio_unitario                  16        4     20.0
fecha                            20        0      0.0
producto                         20        0      0.0

In [6]:
# Convertir las columnas cantidad y precio_unitario a arrays numpy
cant_array = df['cantidad'].to_numpy()
precio_unitario_array = df['precio_unitario'].to_numpy()

cantidad_array  = np.nan_to_num(cant_array, nan=0)
precio_uni_array  = np.nan_to_num(precio_unitario_array, nan=0)

print()

In [9]:
total_array = np.multiply(cantidad_array, precio_uni_array)
print(total_array)

sum_cantidades = np.sum(cantidad_array)
print(sum_cantidades)

[ 21.   0.   0. 105.  12. 100.   0.  90.  20.   0. 132.  72. 100.   0.
  14.  27.  80.  44.   0.  90.]
68.0

In [12]:
#Cargar valores con 0
df = df.fillna(0)
# Obtener información general sobre el DataFrame
print("Información del DataFrame:")
print(df.info())
# Generar estadísticas descriptivas
print("Estadísticas descriptivas del DataFrame:")
print(df.describe())

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fecha            20 non-null     object
 1   producto         20 non-null     object
 2   cantidad         20 non-null     float64
 3   precio_unitario  20 non-null     float64
 4   total            20 non-null     float64
dtypes: float64(3), object(2)
memory usage: 932.0+ bytes
None
Estadísticas descriptivas del DataFrame:
        cantidad  precio_unitario       total
count  20.000000        20.000000   20.000000
mean    3.400000        13.325000   40.350000
std     2.603641         8.912255   46.292292
min     0.000000         0.000000    0.000000
25%     1.000000         9.750000    0.000000
50%     3.500000        13.000000   17.500000
75%     5.250000        20.000000   90.000000
max     8.000000        30.000000  132.000000

In [13]:
# Cargar el archivo JSON en un DataFrame
#df = pd.read_json('../data/ejercicios_integracion/competencia_kaggle.json')

#print(df)

   id_participante          nombre  intentos  tiempo_total_horas  \
0                1  Participante_A         5                12.0
1                2  Participante_B         3                 NaN
2                3  Participante_C         4                10.0
3                4  Participante_D         2                 5.0
4                5  Participante_E         6                14.0

                   puntuaciones
0        [80, 85, 90, 88, None]
1                [70, 75, None]
2              [85, 90, 95, 93]
3                    [60, None]
4  [78, 82, None, None, 80, 85]

In [26]:
# Filtrar filas donde las ventas son mayores a 25
ventas_mayores_25 = df[df['precio_unitario'] > 15]
print(ventas_mayores_25)


# Filtrar filas donde las ventas son mayores a 25 y el precio es menor a 0.5
ventas_mayores_25_precio_menor_05 = df[(df['cantidad'] > 2.0) & (df['precio_unitario'] < 10.0)]
print(ventas_mayores_25_precio_menor_05)

         fecha    producto  cantidad  precio_unitario  total
1   2023-01-02  Producto_B       NaN             20.0    NaN
5   2023-01-06  Producto_B       4.0             25.0  100.0
7   2023-01-08  Producto_D       3.0             30.0   90.0
10  2023-01-11  Producto_C       6.0             22.0  132.0
11  2023-01-12  Producto_D       4.0             18.0   72.0
12  2023-01-13  Producto_A       5.0             20.0  100.0
13  2023-01-14  Producto_B       NaN             25.0    NaN
         fecha    producto  cantidad  precio_unitario  total
15  2023-01-16  Producto_D       3.0              9.0   27.0

In [31]:
df.loc[df['producto']=='Producto_B',:]

df.dropna().index

Index([0, 3, 4, 5, 7, 10, 11, 12, 14, 15, 17, 19], dtype='int64')

In [32]:
df.index.isin(df.dropna().index)

array([ True, False, False,  True,  True,  True, False,  True, False,
       False,  True,  True,  True, False,  True,  True, False,  True,
       False,  True])