In [2]:
import pandas as pd
import requests

# Paso 2: Obtener los Datos
api_key = '0c5f7e05b3ad5791b779a43174d7a33e'
ciudad = 'Asunción'
url = f'http://api.openweathermap.org/data/2.5/weather?q={ciudad}&appid={api_key}&units=metric'
response = requests.get(url)
data = response.json()

In [3]:
# Crear un DataFrame a partir de los datos JSON
df = pd.json_normalize(data)
print("Primeras 10 filas del DataFrame:")
print(df.head(10))

Primeras 10 filas del DataFrame:
                                             weather      base  visibility  \
0  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000

           dt  timezone       id      name  cod  coord.lon  coord.lat  ...  \
0  1728949889    -10800  3439389  Asunción  200   -57.6359   -25.3007  ...

   main.sea_level  main.grnd_level  wind.speed  wind.deg  clouds.all  \
0            1011             1001        3.09       100          75

   sys.type  sys.id  sys.country  sys.sunrise  sys.sunset
0         1    8575           PY   1728897396  1728942956

[1 rows x 26 columns]

In [4]:
# Ahora vamos a concatenar los datos de otras ciudades.
# Iterar por cada capital
capitales = [
    "Ciudad de México", "Washington, D.C.", "Ottawa", "La Habana", "Santo Domingo",
    "Buenos Aires", "Brasilia", "Santiago", "Lima", 
    "París", "Londres", "Berlín", "Roma", "Madrid",
    "Tokio", "Pekín", "Nueva Delhi", "Seúl", "Bangkok",
    "Canberra", "Wellington", "Suva", "Port Moresby", "Apia"
]
for capital in capitales:
    ciudad = capital
    try:
        # Realizar la llamada al servicio web (reemplaza 'YOUR_API_URL' por la URL del servicio)
        response = requests.get(url)  # Agrega tu API_KEY si es necesario
        
        # Verificar si la respuesta fue exitosa
        if response.status_code == 200:
            # Convertir la respuesta JSON a un DataFrame (ajusta según la estructura del JSON)
            data = response.json()
            
            # Convertir el JSON en un DataFrame de una sola fila, asegurando que los subcampos se aplanen
            df_capital = pd.json_normalize(data)
            
            # Agregar la capital al DataFrame para tener un registro de la ciudad
            df_capital['name'] = capital
            
            # Concatenar el DataFrame con el general
            df = pd.concat([df, df_capital], ignore_index=True)
        
        else:
            print(f"Error al consultar {capital}: {response.status_code}")
    
    except Exception as e:
        print(f"Error en la ciudad {capital}: {e}")

In [5]:
print("Primeras 10 filas del DataFrame:")
print(df.head(10))

Primeras 10 filas del DataFrame:
                                             weather      base  visibility  \
0  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
1  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
2  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
3  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
4  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
5  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
6  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
7  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
8  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
9  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000

           dt  timezone       id              name  cod  coord.lon  coord.lat  \
0  1728949889    -10800  3439389          Asunción  200   -57.6359   -25.3007
1  1728949889    -10800  3439389  Ciudad de México  200   -57.6359   -25.3007
2  1728949889    -10800  3439389  Washington, D.C.  200   -57.6359   -25.3007
3  1728949889    -10800  3439389            Ottawa  200   -57.6359   -25.3007
4  1728949889    -10800  3439389         La Habana  200   -57.6359   -25.3007
5  1728949889    -10800  3439389     Santo Domingo  200   -57.6359   -25.3007
6  1728949889    -10800  3439389      Buenos Aires  200   -57.6359   -25.3007
7  1728949889    -10800  3439389          Brasilia  200   -57.6359   -25.3007
8  1728949889    -10800  3439389          Santiago  200   -57.6359   -25.3007
9  1728949889    -10800  3439389              Lima  200   -57.6359   -25.3007

   ...  main.sea_level  main.grnd_level  wind.speed  wind.deg  clouds.all  \
0  ...            1011             1001        3.09       100          75
1  ...            1011             1001        3.09       100          75
2  ...            1011             1001        3.09       100          75
3  ...            1011             1001        3.09       100          75
4  ...            1011             1001        3.09       100          75
5  ...            1011             1001        3.09       100          75
6  ...            1011             1001        3.09       100          75
7  ...            1011             1001        3.09       100          75
8  ...            1011             1001        3.09       100          75
9  ...            1011             1001        3.09       100          75

   sys.type  sys.id  sys.country  sys.sunrise  sys.sunset
0         1    8575           PY   1728897396  1728942956
1         1    8575           PY   1728897396  1728942956
2         1    8575           PY   1728897396  1728942956
3         1    8575           PY   1728897396  1728942956
4         1    8575           PY   1728897396  1728942956
5         1    8575           PY   1728897396  1728942956
6         1    8575           PY   1728897396  1728942956
7         1    8575           PY   1728897396  1728942956
8         1    8575           PY   1728897396  1728942956
9         1    8575           PY   1728897396  1728942956

[10 rows x 26 columns]

In [6]:
# Paso 3: Exploración Inicial de los Datos
print("nÚltimas 5 filas del DataFrame:")
print(df.tail(5))

nÚltimas 5 filas del DataFrame:
                                              weather      base  visibility  \
20  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
21  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
22  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
23  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
24  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000

            dt  timezone       id          name  cod  coord.lon  coord.lat  \
20  1728949889    -10800  3439389      Canberra  200   -57.6359   -25.3007
21  1728949889    -10800  3439389    Wellington  200   -57.6359   -25.3007
22  1728949889    -10800  3439389          Suva  200   -57.6359   -25.3007
23  1728949889    -10800  3439389  Port Moresby  200   -57.6359   -25.3007
24  1728949889    -10800  3439389          Apia  200   -57.6359   -25.3007

    ...  main.sea_level  main.grnd_level  wind.speed  wind.deg  clouds.all  \
20  ...            1011             1001        3.09       100          75
21  ...            1011             1001        3.09       100          75
22  ...            1011             1001        3.09       100          75
23  ...            1011             1001        3.09       100          75
24  ...            1011             1001        3.09       100          75

    sys.type  sys.id  sys.country  sys.sunrise  sys.sunset
20         1    8575           PY   1728897396  1728942956
21         1    8575           PY   1728897396  1728942956
22         1    8575           PY   1728897396  1728942956
23         1    8575           PY   1728897396  1728942956
24         1    8575           PY   1728897396  1728942956

[5 rows x 26 columns]

In [7]:
print("nInformación del DataFrame:")
print(df.info())

nInformación del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   weather          25 non-null     object
 1   base             25 non-null     object
 2   visibility       25 non-null     int64
 3   dt               25 non-null     int64
 4   timezone         25 non-null     int64
 5   id               25 non-null     int64
 6   name             25 non-null     object
 7   cod              25 non-null     int64
 8   coord.lon        25 non-null     float64
 9   coord.lat        25 non-null     float64
 10  main.temp        25 non-null     float64
 11  main.feels_like  25 non-null     float64
 12  main.temp_min    25 non-null     float64
 13  main.temp_max    25 non-null     float64
 14  main.pressure    25 non-null     int64
 15  main.humidity    25 non-null     int64
 16  main.sea_level   25 non-null     int64
 17  main.grnd_level  25 non-null     int64
 18  wind.speed       25 non-null     float64
 19  wind.deg         25 non-null     int64
 20  clouds.all       25 non-null     int64
 21  sys.type         25 non-null     int64
 22  sys.id           25 non-null     int64
 23  sys.country      25 non-null     object
 24  sys.sunrise      25 non-null     int64
 25  sys.sunset       25 non-null     int64
dtypes: float64(7), int64(15), object(4)
memory usage: 5.2+ KB
None

In [8]:
print("nEstadísticas descriptivas del DataFrame:")
print(df.describe())

nEstadísticas descriptivas del DataFrame:
       visibility            dt  timezone         id    cod  coord.lon  \
count        25.0  2.500000e+01      25.0       25.0   25.0    25.0000
mean      10000.0  1.728950e+09  -10800.0  3439389.0  200.0   -57.6359
std           0.0  0.000000e+00       0.0        0.0    0.0     0.0000
min       10000.0  1.728950e+09  -10800.0  3439389.0  200.0   -57.6359
25%       10000.0  1.728950e+09  -10800.0  3439389.0  200.0   -57.6359
50%       10000.0  1.728950e+09  -10800.0  3439389.0  200.0   -57.6359
75%       10000.0  1.728950e+09  -10800.0  3439389.0  200.0   -57.6359
max       10000.0  1.728950e+09  -10800.0  3439389.0  200.0   -57.6359

          coord.lat     main.temp  main.feels_like  main.temp_min  ...  \
count  2.500000e+01  2.500000e+01     2.500000e+01   2.500000e+01  ...
mean  -2.530070e+01  2.269000e+01     2.318000e+01   2.269000e+01  ...
std    3.625973e-15  3.625973e-15     3.625973e-15   3.625973e-15  ...
min   -2.530070e+01  2.269000e+01     2.318000e+01   2.269000e+01  ...
25%   -2.530070e+01  2.269000e+01     2.318000e+01   2.269000e+01  ...
50%   -2.530070e+01  2.269000e+01     2.318000e+01   2.269000e+01  ...
75%   -2.530070e+01  2.269000e+01     2.318000e+01   2.269000e+01  ...
max   -2.530070e+01  2.269000e+01     2.318000e+01   2.269000e+01  ...

       main.humidity  main.sea_level  main.grnd_level  wind.speed  wind.deg  \
count           25.0            25.0             25.0       25.00      25.0
mean            83.0          1011.0           1001.0        3.09     100.0
std              0.0             0.0              0.0        0.00       0.0
min             83.0          1011.0           1001.0        3.09     100.0
25%             83.0          1011.0           1001.0        3.09     100.0
50%             83.0          1011.0           1001.0        3.09     100.0
75%             83.0          1011.0           1001.0        3.09     100.0
max             83.0          1011.0           1001.0        3.09     100.0

       clouds.all  sys.type  sys.id   sys.sunrise    sys.sunset
count        25.0      25.0    25.0  2.500000e+01  2.500000e+01
mean         75.0       1.0  8575.0  1.728897e+09  1.728943e+09
std           0.0       0.0     0.0  0.000000e+00  0.000000e+00
min          75.0       1.0  8575.0  1.728897e+09  1.728943e+09
25%          75.0       1.0  8575.0  1.728897e+09  1.728943e+09
50%          75.0       1.0  8575.0  1.728897e+09  1.728943e+09
75%          75.0       1.0  8575.0  1.728897e+09  1.728943e+09
max          75.0       1.0  8575.0  1.728897e+09  1.728943e+09

[8 rows x 22 columns]

In [9]:
# Paso 4: Inspección de los Datos
print("nTipos de datos de las columnas:")
print(df.dtypes)

nTipos de datos de las columnas:
weather             object
base                object
visibility           int64
dt                   int64
timezone             int64
id                   int64
name                object
cod                  int64
coord.lon          float64
coord.lat          float64
main.temp          float64
main.feels_like    float64
main.temp_min      float64
main.temp_max      float64
main.pressure        int64
main.humidity        int64
main.sea_level       int64
main.grnd_level      int64
wind.speed         float64
wind.deg             int64
clouds.all           int64
sys.type             int64
sys.id               int64
sys.country         object
sys.sunrise          int64
sys.sunset           int64
dtype: object

In [19]:
print("nConteo de valores únicos en la columna 'weather.main':")
print(df['weather'][0][0]['main'])

nConteo de valores únicos en la columna 'weather.main':
Clouds

In [20]:
print("nValores únicos en la columna 'name':")
print(df['name'].unique())

nValores únicos en la columna 'name':
['Asunción' 'Ciudad de México' 'Washington, D.C.' 'Ottawa' 'La Habana'
 'Santo Domingo' 'Buenos Aires' 'Brasilia' 'Santiago' 'Lima' 'París'
 'Londres' 'Berlín' 'Roma' 'Madrid' 'Tokio' 'Pekín' 'Nueva Delhi' 'Seúl'
 'Bangkok' 'Canberra' 'Wellington' 'Suva' 'Port Moresby' 'Apia']

In [12]:
# Paso 5: Filtrado de Datos
df['main.temp'] = df['main.temp'].astype(float)
df['main.humidity'] = df['main.humidity'].astype(float)

In [13]:
temp_mayor_20 = df[df['main.temp'] > 20]
print("nFilas donde la temperatura es mayor a 20 grados Celsius:")
print(temp_mayor_20)

nFilas donde la temperatura es mayor a 20 grados Celsius:
                                              weather      base  visibility  \
0   [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
1   [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
2   [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
3   [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
4   [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
5   [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
6   [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
7   [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
8   [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
9   [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
10  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
11  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
12  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
13  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
14  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
15  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
16  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
17  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
18  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
19  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
20  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
21  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
22  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
23  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
24  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000

            dt  timezone       id              name  cod  coord.lon  \
0   1728949889    -10800  3439389          Asunción  200   -57.6359
1   1728949889    -10800  3439389  Ciudad de México  200   -57.6359
2   1728949889    -10800  3439389  Washington, D.C.  200   -57.6359
3   1728949889    -10800  3439389            Ottawa  200   -57.6359
4   1728949889    -10800  3439389         La Habana  200   -57.6359
5   1728949889    -10800  3439389     Santo Domingo  200   -57.6359
6   1728949889    -10800  3439389      Buenos Aires  200   -57.6359
7   1728949889    -10800  3439389          Brasilia  200   -57.6359
8   1728949889    -10800  3439389          Santiago  200   -57.6359
9   1728949889    -10800  3439389              Lima  200   -57.6359
10  1728949889    -10800  3439389             París  200   -57.6359
11  1728949889    -10800  3439389           Londres  200   -57.6359
12  1728949889    -10800  3439389            Berlín  200   -57.6359
13  1728949889    -10800  3439389              Roma  200   -57.6359
14  1728949889    -10800  3439389            Madrid  200   -57.6359
15  1728949889    -10800  3439389             Tokio  200   -57.6359
16  1728949889    -10800  3439389             Pekín  200   -57.6359
17  1728949889    -10800  3439389       Nueva Delhi  200   -57.6359
18  1728949889    -10800  3439389              Seúl  200   -57.6359
19  1728949889    -10800  3439389           Bangkok  200   -57.6359
20  1728949889    -10800  3439389          Canberra  200   -57.6359
21  1728949889    -10800  3439389        Wellington  200   -57.6359
22  1728949889    -10800  3439389              Suva  200   -57.6359
23  1728949889    -10800  3439389      Port Moresby  200   -57.6359
24  1728949889    -10800  3439389              Apia  200   -57.6359

    coord.lat  ...  main.sea_level  main.grnd_level  wind.speed  wind.deg  \
0    -25.3007  ...            1011             1001        3.09       100
1    -25.3007  ...            1011             1001        3.09       100
2    -25.3007  ...            1011             1001        3.09       100
3    -25.3007  ...            1011             1001        3.09       100
4    -25.3007  ...            1011             1001        3.09       100
5    -25.3007  ...            1011             1001        3.09       100
6    -25.3007  ...            1011             1001        3.09       100
7    -25.3007  ...            1011             1001        3.09       100
8    -25.3007  ...            1011             1001        3.09       100
9    -25.3007  ...            1011             1001        3.09       100
10   -25.3007  ...            1011             1001        3.09       100
11   -25.3007  ...            1011             1001        3.09       100
12   -25.3007  ...            1011             1001        3.09       100
13   -25.3007  ...            1011             1001        3.09       100
14   -25.3007  ...            1011             1001        3.09       100
15   -25.3007  ...            1011             1001        3.09       100
16   -25.3007  ...            1011             1001        3.09       100
17   -25.3007  ...            1011             1001        3.09       100
18   -25.3007  ...            1011             1001        3.09       100
19   -25.3007  ...            1011             1001        3.09       100
20   -25.3007  ...            1011             1001        3.09       100
21   -25.3007  ...            1011             1001        3.09       100
22   -25.3007  ...            1011             1001        3.09       100
23   -25.3007  ...            1011             1001        3.09       100
24   -25.3007  ...            1011             1001        3.09       100

    clouds.all  sys.type  sys.id  sys.country  sys.sunrise  sys.sunset
0           75         1    8575           PY   1728897396  1728942956
1           75         1    8575           PY   1728897396  1728942956
2           75         1    8575           PY   1728897396  1728942956
3           75         1    8575           PY   1728897396  1728942956
4           75         1    8575           PY   1728897396  1728942956
5           75         1    8575           PY   1728897396  1728942956
6           75         1    8575           PY   1728897396  1728942956
7           75         1    8575           PY   1728897396  1728942956
8           75         1    8575           PY   1728897396  1728942956
9           75         1    8575           PY   1728897396  1728942956
10          75         1    8575           PY   1728897396  1728942956
11          75         1    8575           PY   1728897396  1728942956
12          75         1    8575           PY   1728897396  1728942956
13          75         1    8575           PY   1728897396  1728942956
14          75         1    8575           PY   1728897396  1728942956
15          75         1    8575           PY   1728897396  1728942956
16          75         1    8575           PY   1728897396  1728942956
17          75         1    8575           PY   1728897396  1728942956
18          75         1    8575           PY   1728897396  1728942956
19          75         1    8575           PY   1728897396  1728942956
20          75         1    8575           PY   1728897396  1728942956
21          75         1    8575           PY   1728897396  1728942956
22          75         1    8575           PY   1728897396  1728942956
23          75         1    8575           PY   1728897396  1728942956
24          75         1    8575           PY   1728897396  1728942956

[25 rows x 26 columns]

In [26]:
humedad_menor_50 = df[df['main.humidity'] < 50]
print("nFilas donde la humedad es menor a 50%:")
print(humedad_menor_50)

nFilas donde la humedad es menor a 50%:
Empty DataFrame
Columns: [weather, base, visibility, dt, timezone, id, name, cod, coord.lon, coord.lat, main.temp, main.feels_like, main.temp_min, main.temp_max, main.pressure, main.humidity, main.sea_level, main.grnd_level, wind.speed, wind.deg, clouds.all, sys.type, sys.id, sys.country, sys.sunrise, sys.sunset]
Index: []

[0 rows x 26 columns]

In [27]:
query_result = df.query('name == "Londres" & `main.temp` < 15')
print("nFilas donde la ciudad es 'London' y la temperatura es menor a 15 grados Celsius:")
print(query_result)

nFilas donde la ciudad es 'London' y la temperatura es menor a 15 grados Celsius:
Empty DataFrame
Columns: [weather, base, visibility, dt, timezone, id, name, cod, coord.lon, coord.lat, main.temp, main.feels_like, main.temp_min, main.temp_max, main.pressure, main.humidity, main.sea_level, main.grnd_level, wind.speed, wind.deg, clouds.all, sys.type, sys.id, sys.country, sys.sunrise, sys.sunset]
Index: []

[0 rows x 26 columns]

In [28]:
# Paso 6: Slicing de Datos
city_temp = df[['name', 'main.temp']]
print("nColumnas 'city' y 'temp':")
print(city_temp)

nColumnas 'city' y 'temp':
                name  main.temp  main.humidity
0           Asunción      22.69           83.0
1   Ciudad de México      22.69           83.0
2   Washington, D.C.      22.69           83.0
3             Ottawa      22.69           83.0
4          La Habana      22.69           83.0
5      Santo Domingo      22.69           83.0
6       Buenos Aires      22.69           83.0
7           Brasilia      22.69           83.0
8           Santiago      22.69           83.0
9               Lima      22.69           83.0
10             París      22.69           83.0
11           Londres      22.69           83.0
12            Berlín      22.69           83.0
13              Roma      22.69           83.0
14            Madrid      22.69           83.0
15             Tokio      22.69           83.0
16             Pekín      22.69           83.0
17       Nueva Delhi      22.69           83.0
18              Seúl      22.69           83.0
19           Bangkok      22.69           83.0
20          Canberra      22.69           83.0
21        Wellington      22.69           83.0
22              Suva      22.69           83.0
23      Port Moresby      22.69           83.0
24              Apia      22.69           83.0

In [17]:
loc_result = df.loc[5:10, ['name', 'weather']]
print("nFilas 5 a 10 y columnas 'name' y 'weather' usando loc:")
print(loc_result)

nFilas 5 a 10 y columnas 'name' y 'weather' usando loc:
             name                                            weather
5   Santo Domingo  [{'id': 803, 'main': 'Clouds', 'description': ...
6    Buenos Aires  [{'id': 803, 'main': 'Clouds', 'description': ...
7        Brasilia  [{'id': 803, 'main': 'Clouds', 'description': ...
8        Santiago  [{'id': 803, 'main': 'Clouds', 'description': ...
9            Lima  [{'id': 803, 'main': 'Clouds', 'description': ...
10          París  [{'id': 803, 'main': 'Clouds', 'description': ...

In [18]:
iloc_result = df.iloc[0:5, 0:3]
print("nPrimeras 5 filas y primeras 3 columnas usando iloc:")
print(iloc_result)

nPrimeras 5 filas y primeras 3 columnas usando iloc:
                                             weather      base  visibility
0  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
1  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
2  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
3  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000
4  [{'id': 803, 'main': 'Clouds', 'description': ...  stations       10000