## Configuración

In [1]:
import requests
import pandas as pd
import json
import utils

## Paso 1: Consumir datos JSON de una API pública

In [20]:
# URL de la API pública
api_url = "https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&ids=bitcoin"
response = requests.get(api_url)
print(type(response.json()))
response.json()[0]

<class 'list'>

{'id': 'bitcoin',
 'symbol': 'btc',
 'name': 'Bitcoin',
 'image': 'https://coin-images.coingecko.com/coins/images/1/large/bitcoin.png?1696501400',
 'current_price': 59528,
 'market_cap': 1178765207023,
 'market_cap_rank': 1,
 'fully_diluted_valuation': 1252366170498,
 'total_volume': 30126320196,
 'high_24h': 61247,
 'low_24h': 58935,
 'price_change_24h': -1411.4682796917114,
 'price_change_percentage_24h': -2.31616,
 'market_cap_change_24h': -26146904986.208008,
 'market_cap_change_percentage_24h': -2.17003,
 'circulating_supply': 19765840.0,
 'total_supply': 21000000.0,
 'max_supply': 21000000.0,
 'ath': 73738,
 'ath_change_percentage': -19.12328,
 'ath_date': '2024-03-14T07:10:36.635Z',
 'atl': 67.81,
 'atl_change_percentage': 87848.24297,
 'atl_date': '2013-07-06T00:00:00.000Z',
 'roi': None,
 'last_updated': '2024-10-10T20:37:01.743Z'}

In [26]:
api_url = "https://jsonplaceholder.typicode.com/posts"
# Consumir los datos de la API
json_data = utils.fetch_data_from_api(api_url)
print(type(json_data)) # json_data
json_data[0:5]

<class 'list'>

[{'userId': 1,
  'id': 1,
  'title': 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit',
  'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'},
 {'userId': 1,
  'id': 2,
  'title': 'qui est esse',
  'body': 'est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla'},
 {'userId': 1,
  'id': 3,
  'title': 'ea molestias quasi exercitationem repellat qui ipsa sit aut',
  'body': 'et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut'},
 {'userId': 1,
  'id': 4,
  'title': 'eum et est occaecati',
  'body': 'ullam et saepe reiciendis voluptatem adipisci\nsit amet autem assumenda provident rerum culpa\nquis hic commodi nesciunt rem tenetur doloremque ipsam iure\nquis sunt voluptatem rerum illo velit'},
 {'userId': 1,
  'id': 5,
  'title': 'nesciunt quas odio',
  'body': 'repudiandae veniam quaerat sunt sed\nalias aut fugiat sit autem sed est\nvoluptatem omnis possimus esse voluptatibus quis\nest aut tenetur dolor neque'}]

### Paso 2: Manipulación de los datos JSON si están nested (anidados)
* En este caso, los datos no están muy anidados, pero este código serviría si lo estuvieran.
* Podemos aplanar cualquier estructura anidada si es necesario (esto es más relevante si hay listas o diccionarios dentro de las entradas).
* Para este ejemplo no es necesario aplanar, pero podrías agregar este código si fuera necesario --> flat_data = [flatten_json(entry) for entry in json_data]

In [28]:
# Preparar los datos, pasando flatten como parámetro opcional
#df = utils.prepare_data(json_data, flatten_function=utils.flatten)
df = pd.DataFrame(json_data)
# Exploración básica de los datos
print("Primeras filas del DataFrame:")
df.head()

Primeras filas del DataFrame:

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...

In [5]:
print("\nInformación del DataFrame:")
df.info()

print("\nResumen estadístico:")
df.describe()

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   userId  100 non-null    int64
 1   id      100 non-null    int64
 2   title   100 non-null    object
 3   body    100 non-null    object
dtypes: int64(2), object(2)
memory usage: 3.3+ KB

Resumen estadístico:

           userId          id
count  100.000000  100.000000
mean     5.500000   50.500000
std      2.886751   29.011492
min      1.000000    1.000000
25%      3.000000   25.750000
50%      5.500000   50.500000
75%      8.000000   75.250000
max     10.000000  100.000000

In [27]:
# 1. Cantidad de filas y columnas
print("\nCantidad de filas y columnas:")
print(df.shape)

# 2. Cantidad de usuarios distintos (usaremos la columna 'userId' en este caso)
print("\nCantidad de usuarios distintos:")
print(df['userId'].nunique())

# 3. Cantidad de id's por usuario
print("\nCantidad de id's por usuario:")
print(df.groupby('userId')['id'].count())

Cantidad de filas y columnas:
(100, 4)

Cantidad de usuarios distintos:
10

Cantidad de id's por usuario:
userId
1     10
2     10
3     10
4     10
5     10
6     10
7     10
8     10
9     10
10    10
Name: id, dtype: int64

In [6]:
print("\nValores nulos en el DataFrame:")
print(df.isnull().sum())

Valores nulos en el DataFrame:
userId    0
id        0
title     0
body      0
dtype: int64