In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
path = '../data/sample_media_spend.csv'
df = pd.read_csv(filepath_or_buffer=path, sep= ',', header=0)
print(df.shape)
df.head(2)

(3051, 10)

,Division,Calendar_Week,Paid_Views,Organic_Views,Google_Impressions,Email_Impressions,Facebook_Impressions,Affiliate_Impressions,Overall_Views,Sales
0,A,1/6/2018,392,422,408,349895.0107,73580,12072,682,59417
1,A,1/13/2018,787,904,110,506270.2176,11804,9499,853,56806

In [3]:
df.columns

Index(['Division', 'Calendar_Week', 'Paid_Views', 'Organic_Views',
       'Google_Impressions', 'Email_Impressions', 'Facebook_Impressions',
       'Affiliate_Impressions', 'Overall_Views', 'Sales'],
      dtype='object')

In [4]:
df[['Calendar_Week','Paid_Views']]

     Calendar_Week  Paid_Views
0         1/6/2018         392
1        1/13/2018         787
2        1/20/2018          81
3        1/27/2018          25
4         2/3/2018         565
...            ...         ...
3046      2/1/2020       29239
3047      2/8/2020       26230
3048     2/15/2020       24749
3049     2/22/2020       20713
3050     2/29/2020       15990

[3051 rows x 2 columns]

In [5]:
df.loc[3046:]

,Division,Calendar_Week,Paid_Views,Organic_Views,Google_Impressions,Email_Impressions,Facebook_Impressions,Affiliate_Impressions,Overall_Views,Sales
3046,Z,2/1/2020,29239,25311,622406,1.459071e+06,45026,12098,53667,82707
3047,Z,2/8/2020,26230,28031,624409,5.342505e+05,227070,9548,53665,84503
3048,Z,2/15/2020,24749,31281,439362,4.227182e+05,393685,9861,55561,147325
3049,Z,2/22/2020,20713,30356,464178,6.085799e+05,424676,10221,49221,111525
3050,Z,2/29/2020,15990,26993,449032,4.390165e+05,161439,10294,42994,98187

In [6]:
df.iloc[3046:,0:]

,Division,Calendar_Week,Paid_Views,Organic_Views,Google_Impressions,Email_Impressions,Facebook_Impressions,Affiliate_Impressions,Overall_Views,Sales
3046,Z,2/1/2020,29239,25311,622406,1.459071e+06,45026,12098,53667,82707
3047,Z,2/8/2020,26230,28031,624409,5.342505e+05,227070,9548,53665,84503
3048,Z,2/15/2020,24749,31281,439362,4.227182e+05,393685,9861,55561,147325
3049,Z,2/22/2020,20713,30356,464178,6.085799e+05,424676,10221,49221,111525
3050,Z,2/29/2020,15990,26993,449032,4.390165e+05,161439,10294,42994,98187

In [7]:
df.describe()

,Paid_Views,Organic_Views,Google_Impressions,Email_Impressions,Facebook_Impressions,Affiliate_Impressions,Overall_Views,Sales
count,3051.000000,3051.000000,3.051000e+03,3.051000e+03,3.051000e+03,3051.000000,3051.000000,3.051000e+03
mean,15093.941658,13355.673222,8.861738e+05,7.605094e+05,2.691269e+05,22910.902655,27980.914127,1.859014e+05
std,30785.884979,24079.399689,1.355076e+06,6.260141e+05,4.665117e+05,21617.637497,52054.976687,2.322079e+05
min,1.000000,1.000000,7.000000e+00,4.089445e+04,2.900000e+01,910.000000,2.000000,1.543600e+04
25%,537.000000,712.500000,1.698280e+05,3.784969e+05,5.707350e+04,9127.000000,747.000000,7.339350e+04
50%,2699.000000,4110.000000,4.905310e+05,5.909708e+05,1.275230e+05,16658.000000,7879.000000,1.135730e+05
75%,17358.000000,16230.500000,1.022622e+06,9.622466e+05,2.835050e+05,27486.500000,34111.500000,2.029755e+05
max,518190.000000,270453.000000,1.715044e+07,7.317730e+06,7.558435e+06,175791.000000,635057.000000,3.575430e+06

In [8]:
print(np.min(df[['Calendar_Week']]))
print(np.max(df[['Calendar_Week']]))

1/11/2020
9/8/2018

In [9]:
df.dtypes

Division                  object
Calendar_Week             object
Paid_Views                 int64
Organic_Views              int64
Google_Impressions         int64
Email_Impressions        float64
Facebook_Impressions       int64
Affiliate_Impressions      int64
Overall_Views              int64
Sales                      int64
dtype: object

In [10]:
df_filter = df.drop(columns=['Calendar_Week'],axis = 1 , inplace = False)
df_filter.head()

,Division,Paid_Views,Organic_Views,Google_Impressions,Email_Impressions,Facebook_Impressions,Affiliate_Impressions,Overall_Views,Sales
0,A,392,422,408,349895.0107,73580,12072,682,59417
1,A,787,904,110,506270.2176,11804,9499,853,56806
2,A,81,970,742,430042.1538,52232,17048,759,48715
3,A,25,575,65,417745.6658,78640,10207,942,72047
4,A,565,284,295,408505.8012,40561,5834,658,56235

In [11]:
df.head()

,Division,Calendar_Week,Paid_Views,Organic_Views,Google_Impressions,Email_Impressions,Facebook_Impressions,Affiliate_Impressions,Overall_Views,Sales
0,A,1/6/2018,392,422,408,349895.0107,73580,12072,682,59417
1,A,1/13/2018,787,904,110,506270.2176,11804,9499,853,56806
2,A,1/20/2018,81,970,742,430042.1538,52232,17048,759,48715
3,A,1/27/2018,25,575,65,417745.6658,78640,10207,942,72047
4,A,2/3/2018,565,284,295,408505.8012,40561,5834,658,56235

In [12]:
#df.drop(columns=['Calendar_Week'],axis = 1 , inplace = True)
#df.head()

In [13]:
df.Paid_Views>=2699

0       False
1       False
2       False
3       False
4       False
        ...
3046     True
3047     True
3048     True
3049     True
3050     True
Name: Paid_Views, Length: 3051, dtype: bool

In [14]:
df_filter = df[df.Paid_Views>=2699]
print(df_filter.shape)
df_filter.head(3)

(1526, 10)

,Division,Calendar_Week,Paid_Views,Organic_Views,Google_Impressions,Email_Impressions,Facebook_Impressions,Affiliate_Impressions,Overall_Views,Sales
48,A,12/8/2018,24788,1632,558879,425805.1255,68776,5247,26253,187382
49,A,12/15/2018,20699,2982,462233,354046.9198,146088,4837,23170,190487
50,A,12/22/2018,9967,3548,405196,345259.3411,60643,5060,12683,109947

In [15]:
df_filter = df[(df.Paid_Views>=2699) | (df.Organic_Views>=4110)]
print(df_filter.shape)
df_filter.head(3)

(1697, 10)

,Division,Calendar_Week,Paid_Views,Organic_Views,Google_Impressions,Email_Impressions,Facebook_Impressions,Affiliate_Impressions,Overall_Views,Sales
44,A,11/10/2018,337,4371,1016756,556982.1233,194349,5073,4781,186876
48,A,12/8/2018,24788,1632,558879,425805.1255,68776,5247,26253,187382
49,A,12/15/2018,20699,2982,462233,354046.9198,146088,4837,23170,190487

In [16]:
df_filter = df.query('Paid_Views>=2699 or Organic_Views>=4110')
print(df_filter.shape)
df_filter.head(3)

(1697, 10)

,Division,Calendar_Week,Paid_Views,Organic_Views,Google_Impressions,Email_Impressions,Facebook_Impressions,Affiliate_Impressions,Overall_Views,Sales
44,A,11/10/2018,337,4371,1016756,556982.1233,194349,5073,4781,186876
48,A,12/8/2018,24788,1632,558879,425805.1255,68776,5247,26253,187382
49,A,12/15/2018,20699,2982,462233,354046.9198,146088,4837,23170,190487

In [17]:
df_ordenado = df.sort_values(by='Paid_Views',ascending=False)
df_ordenado.head()

,Division,Calendar_Week,Paid_Views,Organic_Views,Google_Impressions,Email_Impressions,Facebook_Impressions,Affiliate_Impressions,Overall_Views,Sales
187,B,6/8/2019,518190,118035,4258513,1.787703e+06,1080867,71643,635057,503836
2447,V,6/8/2019,361081,85635,1913726,8.022221e+05,462175,33544,446589,214182
195,B,8/3/2019,321082,243245,2300864,1.469535e+06,448841,78338,563991,540922
188,B,6/15/2019,320747,118357,3169725,1.921345e+06,1056987,71551,438477,718039
2455,V,8/3/2019,258535,178550,1035486,6.591208e+05,216961,26616,436507,251106

In [18]:
for i in df.index:
    print(i)
    break

0

In [19]:
df_filter = df.set_index('Division',inplace = False)
df_filter.head()

,Calendar_Week,Paid_Views,Organic_Views,Google_Impressions,Email_Impressions,Facebook_Impressions,Affiliate_Impressions,Overall_Views,Sales
Division,,,,,,,,,
A,1/6/2018,392,422,408,349895.0107,73580,12072,682,59417
A,1/13/2018,787,904,110,506270.2176,11804,9499,853,56806
A,1/20/2018,81,970,742,430042.1538,52232,17048,759,48715
A,1/27/2018,25,575,65,417745.6658,78640,10207,942,72047
A,2/3/2018,565,284,295,408505.8012,40561,5834,658,56235

In [20]:
df_filter.loc['A']

,Calendar_Week,Paid_Views,Organic_Views,Google_Impressions,Email_Impressions,Facebook_Impressions,Affiliate_Impressions,Overall_Views,Sales
Division,,,,,,,,,
A,1/6/2018,392,422,408,349895.0107,73580,12072,682,59417
A,1/13/2018,787,904,110,506270.2176,11804,9499,853,56806
A,1/20/2018,81,970,742,430042.1538,52232,17048,759,48715
A,1/27/2018,25,575,65,417745.6658,78640,10207,942,72047
A,2/3/2018,565,284,295,408505.8012,40561,5834,658,56235
...,...,...,...,...,...,...,...,...,...
A,2/1/2020,24140,21028,565733,997442.7847,39280,5686,45817,72475
A,2/8/2020,24187,22064,574706,365408.0809,161435,4944,45482,77613
A,2/15/2020,23008,25885,432938,288944.3322,292028,6133,47734,168172
A,2/22/2020,18726,25271,442591,415592.4279,286872,6760,43958,119598
A,2/29/2020,13873,22205,430426,300293.8358,148089,6864,35199,99357

In [21]:
print(len(df['Division'].unique()))
df['Division'].unique()

26

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'],
      dtype=object)

In [22]:
df_filter.loc['B']

,Calendar_Week,Paid_Views,Organic_Views,Google_Impressions,Email_Impressions,Facebook_Impressions,Affiliate_Impressions,Overall_Views,Sales
Division,,,,,,,,,
B,1/6/2018,167,782,708,2567847.521,667172,95360,579,519479
B,1/13/2018,552,143,441,3715496.894,103319,82360,502,501041
B,1/20/2018,659,144,687,3151602.114,570292,112565,273,510120
B,1/27/2018,108,850,631,3066068.937,777349,71675,988,594620
B,2/3/2018,644,949,730,2996176.308,397171,51602,776,477962
...,...,...,...,...,...,...,...,...,...
B,2/1/2020,183982,153772,4880566,7317730.249,280897,56815,336930,596327
B,2/8/2020,187562,164818,4924815,2679298.988,1066783,49963,351518,619802
B,2/15/2020,183691,198041,3581869,2118857.141,1884146,59426,381029,1181536
B,2/22/2020,147564,190041,3670032,3051189.135,1779732,70252,337803,968892
B,2/29/2020,118075,173100,3534401,2198397.943,680796,59464,290587,715626

In [23]:
del df_ordenado